
.box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.button{
    background-color: var(--main-color);
    color: white;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    margin-left: 5%;
}
.flight{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.flight-box{
   max-width: 1000px;
   display: flex;
   justify-content: space-evenly;
}
.logo{
    margin-left: 35%;
}
